body {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 14px;
}

/* Grid container */
#grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

/* Form column */
#form-column {
  width: 80%;
  margin: 0 auto;
}

#countbox {
  position: relative;
  width: fit-content;
  right: -90%;
  bottom: 40px;
  font-size: 12px;
}

/* Progressbar container */
.progressbar-container {
  margin-top: 10em;
  display: none; /* initially hide the progress bar */
  overflow: hidden;
  text-align: center;
  margin: 50% auto;
}

#progressbar-container .progressbar-background {
  background-color: #ddd;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 4em;
}

.progressbar {
  width: 0;
  height: 10px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 4em;
  transition: width 0.5s ease-in-out;
}

.cancel-button {
  margin-top: 10px;
  width: 100px;
  margin: 0 auto;
  background: #333 !important;
}
.message-container {
  color: #fff;
  font-size: 1.5em;
  max-width: 350px;
  margin: 2em auto;
}

#chatbox {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "Ubuntu", Arial, sans-serif;
}

.welcome {
  max-width: 100%;
  background: rgb(255, 254, 237);
  border: 1px solid rgb(253, 242, 203);
  box-shadow: rgb(144 153 166 / 10%) 0px 12px 50px,
    rgb(144 153 166 / 5%) 0px 4px 24px;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 3em;
  margin-top: 2em;
  text-align: left;
}

.welcome p {
  width: 100%;
}

.welcome p:last-of-type {
  margin-bottom: 0;
}

#userInput {
  height: 300px;
  padding: 10px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  resize: none;
}

.btn-primary {
  background-color: #333 !important;
  border-color: #333 !important;
  color: #fff !important;
  width: 100%;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary:disabled {
  opacity: 0.65;
}

.btn-secondary {
  background-color: #4caf50; /* Green */
  padding: 10px;
  border-radius: 5px;
}

/******************************** LOGIN MODAL *******************************/
.nsl-container {
  text-align: center !important;
}
.custom-logo {
  max-width: 150px;
  display: inline-block;
}
.login-modal,
.modal {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login-modal-content,
.modal-content {
  position: relative;
  margin: 5% auto;
  width: 50%;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.login-modal-header,
.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
}

.login-modal-header > h2 {
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  margin: 10px 0 12px 0;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
}

.login-modal-body {
  padding: 1rem;
  font-size: 15px;
  color: #555555;
  font-size: 15px;
  color: #555555;
  font-size: 15px;
  color: #555555;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modal-text,
.login-modal-text {
  text-align: center;
}

.login-modal-text p:first-of-type {
  margin-bottom: 20px;
}

.login-modal-text p:last-of-type {
  margin: 11px 0 20px 0 !important;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
/******************************** /LOGIN MODAL *******************************/

/******************************** BILLING MODAL *******************************/

.billing-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
}

.billing-modal-title {
  display: inline-block;
  font-size: 30px;
}
.billing-modal-content {
  position: relative;
  margin: 2% auto;
  width: 70% !important;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
}

.billing-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  margin-right: 20px;
  display: inline-block;
}

.billing-modal-footer {
  width: 100%;
  display: inline-block !important;
}

.mp {
  background-color: #009ee3;
  margin-top: 10px;
  display: inline-block;
  border-color: transparent;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
#copy-button-modal {
  background-color: #333;
  border-color: transparent;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}

h6 {
  text-align: center;
}

.row {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.billing-modal .container {
  display: flex;
  margin-bottom: 1em;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1em 2em;
}

.plan ul {
  display: grid;
  gap: 0.4rem;
  list-style-type: none;
}

.plan span {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.plan span:last-child {
  margin-top: 2rem;
}

#tooltip {
  opacity: 0;
  visibility: hidden;
  position: relative;
  background-color: #555;
  color: #fff;
  padding: 5px 10px 0 10px;
  width: 300px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 1;
  min-width: 200px;
  min-height: 20px;
  height: 33px;
  text-align: center;
  transition: opacity 0.3s;
  margin: 0.5rem auto 1em;
}
.plan .cuentito10 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

/******************************** /BILLING MODAL *******************************/

/******************************** SINGLE *******************************/
/* Images container */
#images {
  display: flex;
  justify-content: space-between;
}

.notice-bar-single {
  display: block;
  background-color: #f7f7f7;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation: fadeout 20s linear forwards;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#print a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
#print a:hover {
  background: #c11;
  color: #fff;
}
#print a::before,
#print a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
}
#print a::after {
  bottom: 1px;
  top: auto;
}

h1.title {
  margin: 20px 0 !important;
  text-align: center;
}

#content {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.container {
  display: flex; /* enables flex layout for the container */
  flex-wrap: wrap; /* allows flex items to wrap onto multiple rows or columns */
  justify-content: center; /* centers the flex items along the main axis */
  align-items: center; /* centers the flex items along the cross axis */
  height: auto;
  position: relative;
}

.row {
  height: auto;
  padding: 0 !important;
  flex-wrap: nowrap;
}

.col-mid {
  width: 100%; /* sets the width of each column to 50% */
  text-align: center; /* centers the text within each column */
  display: flex; /* Enable flex layout for the columns*/
  align-items: center; /* Aligns the flex items vertically */
  /* justify-content: center; Aligns the flex items horizontally */
  flex-wrap: nowrap;
}

.col-left,
.col-right {
  width: 50%; /* sets the width of each column to 50% */
  text-align: center; /* centers the text within each column */
  display: flex; /* Enable flex layout for the columns*/
  align-items: center; /* Aligns the flex items vertically */
  justify-content: center; /* Aligns the flex items horizontally */
  flex-wrap: nowrap;
}

.col-left {
  display: inline-block;
}

.col-left img {
  float: left;
}

.col-right img {
  float: left;
}

.col-right {
  display: inline-block;
}

.img-mj {
  max-height: 100%;
  max-width: 100%; /* sets the width of the image to 100% */
  object-fit: cover; /* ensures that the image fits within the container */
}

.img-mj-full {
  max-height: 100%;
  max-width: 100%; /* sets the width of the image to 100% */
  object-fit: cover; /* ensures that the image fits within the container */
  margin: auto;
  display: flex;
}

.col-mid,
.col-right p,
.col-left p {
  width: 100%; /* sets the width of the <p> to 100% */
  min-width: 80%;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 1em 0em;
  text-align: left;
}

.col-left p {
  padding-right: 1em;
}

.col-right p {
  padding-left: 1em;
}

.pa {
  margin-bottom: 0;
}

.post {
  display: grid;
}

.post-actions {
  padding: 1em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.post-actions > form > button {
  padding: 0.5rem;
}

#copy-button {
  background: none;
  border: none;
  color: #2196f3;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

#caps-button {
  background: none;
  border: none;
  color: #f37e21;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

.flag-button {
  background: none;
  border: none;
  color: #ff0000;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

.delete-button {
  background: none;
  border: none;
  color: #ff0000;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

.remix {
  background: none;
  border: none;
  color: #8a4af3;
  cursor: pointer;
}

.pld-dislike-trigger {
  color: #ff9800 !important;
}

.related-posts-thumbnail,
.featured-thumbnail-overlay {
  border-radius: 5px;
}

.related-posts {
  border-radius: 10px;
  margin-bottom: unset !important;
}

.content {
  margin: 0 auto;
  display: flex;
  margin-top: 1em;
}

.upper {
  text-transform: uppercase;
}

.upper p {
  line-height: 1.4em;
}
#print {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 300px;
  overflow: hidden;
  height: 300px;
  z-index: 800;
}
#print a {
  position: absolute;
  top: 3em;
  right: -8em;
  width: 26em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

/******************************** /SINGLE *******************************/

/******************************** CATEGORY *******************************/
article {
  background: #fff;
}

.category h2 {
  font-size: 1.1em;
}

.masonry-grid {
  display: flex;
  flex-wrap: wrap;
}

.masonry-grid-item {
  width: 33.33%;
  padding: 1em;
  box-sizing: border-box;
}

.cuentitos {
  border-radius: 10px;
}

h2 {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 600;
}

.postsby {
  margin-top: 30px !important;
}

hr {
  display: block !important;
  margin: 3em 0;
}

/**** Thumbs up plugin ****/
.pld-like-dislike-wrap {
  margin-bottom: 0 !important;
}

/******************************** Invitar amigos & subir de nivel *******************************/
#form-column > .row {
  gap: 0.5rem;
  /* margin-top: 1rem; */
  padding: 0 15px !important;
}

.row > .invite,
.row > .upgrade {
  width: 100%;
}

.row > .invite > button,
.row > .upgrade > button {
  width: inherit !important;
}

@media only screen and (min-width: 500px) {
  #form-column > .row {
    gap: 0.7rem;
  }
}

/******************************** /CATEGORY *******************************/

/* Media query styles for mobile */
@media only screen and (max-width: 767px) {
  /******************************** LOGIN MODAL *******************************/
  .login-modal-content,
  .modal-content {
    width: 95% !important;
  }
  /******************************** /LOGIN MODAL *******************************/

  /******************************** BILLING MODAL *******************************/

  .plan {
    width: 100%;
    height: auto;
  }
  h6 {
    margin: 2em 0 !important;
  }

  /******************************** /BILLING MODAL *******************************/

  /******************************** SINGLE *******************************/
  #print {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 300px;
    overflow: hidden;
    height: 300px;
    z-index: 800;
  }
  #print a {
    position: absolute;
    top: 3em;
    right: -8em;
    width: 26em;
    transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }

  .col-mid,
  .col-left,
  .col-right {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .col-right,
  .col-left {
    flex-direction: column;
  }

  .row.odd .col-left {
    order: 2;
  }

  .row.odd .col-right {
    order: 1;
  }

  .col-right {
    display: flex;
    float: none;
  }

  .col-left img {
    width: 100%;
    min-height: 100%;
    float: left;
  }

  .col-right img {
    width: 100%;
    min-height: 100%;
    float: left;
  }

  .img-mj {
    width: 100%; /* sets the width of the image to 100% */
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover; /* ensures that the image fits within the container */
  }

  .fin {
    display: flex;
    text-align: center;
    margin: 0 auto;
  }

  .post-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /******************************** /SINGLE *******************************/

  /******************************** CATEGORY *******************************/
  .masonry-grid-item {
    width: 50%;
  }
  /******************************** /CATEGORY *******************************/
}

@media only screen and (min-width: 768px) {
  .plan {
    width: 33%;
    gap: 0.5rem;
    height: inherit !important;
    align-self: auto;
  }

  .plan span:last-child {
    margin-top: auto;
    padding-top: 2rem;
  }

  .message-container {
    min-width: 550px;
  }
}

@media only screen and (max-width: 1280px) {
  .billing-modal-content {
    width: 95% !important;
  }
}

@media only screen and (min-width: 1281px) {
  .billing-modal-content {
    width: 85%;
  }

  .login-modal-content,
  .modal-content {
    width: 35%;
  }
}

@media (max-width: 576px) {
  /******************************** CATEGORY *******************************/
  .masonry-grid-item {
    width: 100%;
  }
  /******************************** /CATEGORY *******************************/
}
